<div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">OAuth 2.0 Playground</h5>
                    <p class="grey-text text-lighten-4">
                        This playground serves as an interactive platform designed to familiarize developers and students with the
                        intricacies of OAuth authentication processes. Beyond just theoretical knowledge, this playground
                        provides practical insights into the OAuth token exchange, callback handling, and potential pitfalls or challenges one 
                        might face during real-world integrations. The ultimate aim is to bolster understanding and confidence in 
                        implementing OAuth, ensuring secure and efficient user authentication and authorization in modern web applications.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.oauth.com/" target="_blank">OAuth 2.0 Simplified</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://en.wikipedia.org/wiki/OAuth" target="_blank">OAuth Wikipedia</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.ietf.org/rfc/rfc6749.txt" target="_blank">OAuth 2.0 RFC</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Y Soft Corporation (
                <a class="y-colored" href="https://github.com/m0rsalis" target="_blank">m0rsalis</a> and
                <a class="y-colored" href="https://github.com/xRodney/" target="_blank">xRodney</a> )
                <a class="y-colored right" href="https://www.daretothinkbyg.com" target="_blank">Join us today!</a>
            </div>
        </div>
    </footer>
</div>